img{
    max-width:50%;
    max-height:40vmin;
}

h1{
    text-align: center;
}

.box{
    display: flex;
    height:100vh;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}